<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sobre mim</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}"> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_sobremim.css') }}">
</head>
<body>
  
  <header>
    <div>
      <a href="/"><button>home</button></a>
      <a href="/sobremim"><button>sobre mim</button></a>
      <a href="/projetos"><button>projetos</button></a>
      <a href="https://github.com/patrick-siotti" target="_blank" id="github"><img title="Github" src="{{ url_for('static', filename='images/59841892.jpg') }}" alt="github"></a>
    </div> 
  </header>

  <div>
    <p>Olá! Me chamo Patrick, sou calmo, adoro aprender e gosto de ser eficiente, trabalho com free lancer a 1 ano como programador python, tendo ganhado bastante experiencia graças a isso.</p>
    <p>Em python: Tenho conhecimento de todo o basico (bibliotecas, dicionarios, listas, if elif else, repetições, etc), tendo conhecimento de objetos e algumas bibliotecas: flask, github, selenium, telegram, discord, etc. E muitas bibliotecas já incluidas no python como: os, time, random, etc.</p>
    <p>Em web: Em criação web, esotou mais familiarizado com o front end, gosto muito de brincar com css. Em html5 tenho conhecimento de todo o basico e a logica por tras, no css3 tenho conhecimento basico sobre tudo, mas se precisso fazer algo a mais, não fico intimidado, e vou atras fazer.</p>
    <p>Estou estudando atualmente engenharia de dados, gosto muito dessa área e quero aproveitar o maximo dela.</p>
    <p>esse site foi feito usando html, css e python</p>
  </div>

</body>
</html>